.button {
    background: $light-blue;
    border: none;
    color: white;
    display: inline-block; //adds some top and bottom padding
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1; //less top and bottom padding
    padding: $s-size;
    text-decoration: none;
}

.button--link {
    background: none;
}

.button--secondary {
    background: #888888;
}